* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #2b2350, #1b1737);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GRID USED HERE */
.card {
    width: 350px;
    background: #231f39;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    gap: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

/* POSITION USED HERE */
.badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #febb0b;
    color: black;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
}

/* FLEX USED HERE */
.profile-img {
    display: flex;
    justify-content: center;
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #03bfcb;
    padding: 4px;
}

h2 {
    color: white;
}

h4 {
    color: #03bfcb;
    font-size: 13px;
}

p {
    color: #b3b8cd;
    font-size: 14px;
}

/* FLEX USED HERE */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 22px;
    border-radius: 6px;
    border: 1px solid #03bfcb;
    cursor: pointer;
}

.primary {
    background: #03bfcb;
    color: #231f39;
}

.secondary {
    background: transparent;
    color: #03bfcb;
}

/* FLEX USED HERE */
.skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skill-tags span {
    border: 1px solid #2d2747;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #b3b8cd;
}

/* RESPONSIVE */
@media (max-width: 400px) {
    .card {
        width: 90%;
    }
}
